<article class="card bg-transparent">
  {{ with .Params.Image }} <img src="{{ . | absURL }}" alt="" class="card-img-top mb-4 rounded-0"> {{  end }}
  <div class="card-body p-0">
    <h4 class="mb-3"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h4>
    <p>{{ .Summary }}</p>
    <ul class="btn-link-group list-inline">
      {{ range .Params.Links }}
      <li class="list-inline-item"><a href="{{ .link | absURL }}">{{ .label }}</a></li>
      {{ end }}
    </ul>
  </div>
</article>