// social icon
.social-icons {
  a {
    display: block;
    font-size: 18px;
    color: $text-color-light;
    height: 46px;
    width: 46px;
    line-height: 46px;
    border: 1px solid $border-color;
    border-radius: 50%;
    text-align: center;
    transition: .2s ease;

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
      text-decoration: none;
    }
  }
}

// title
.title {
  strong {
    color: $primary-color;
  }

  &-border {
    position: relative;
    margin-bottom: 40px;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -15px;
      height: 1px;
      width: 200px;
      background: $primary-color;
    }
  }
}


// form
.form-control {
  background: transparent;
  border-radius: 0;
  height: 55px;
  border: 1px solid $border-color;
  color: $text-color;

  &::placeholder {
    color: $text-color-light;
    font-size: 14px;
  }

  &:focus {
    background: transparent;
    box-shadow: none;
    color: $text-color;
    border-color: $primary-color;
  }
}

textarea.form-control {
  height: 180px;
}

// pagination
.pagination {
  justify-content: center;

  .page-item {
    .page-link {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 0;
      background: $dark;
      text-align: center;
      padding: 0;
      font-weight: 600;
      margin-right: 10px;
      border: 0;
      color: $primary-color;

      &:hover {
        background: $primary-color;
        color: $text-color;
      }
    }

    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 0;
      }
    }

    &.active {
      .page-link {
        background: $primary-color;
        color: $text-color;
      }
    }
  }
}

// content style
.content {

  * {
    word-break: break-word;
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  strong {
    font-weight: 600;
  }

  a {
    text-decoration: underline;
    color: $primary-color;
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 20px;

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $primary-color;
        left: 3px;
        top: 8px;
      }
    }

  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
  }

  table td,
  table th {
    padding: .75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $dark;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background: $dark;
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 2px;
    color: $white;
    font-family: "themify";
    font-weight: 900;
    content: "\e717";
    left: 10px;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: $dark;
  }

  .notices.note p::after {
    content: 'Note';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.tip p {
    border-top: 30px solid #78C578;
    background: $dark;
  }

  .notices.tip p::after {
    content: 'Tip';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #F0B37E;
    background: $dark;
  }

  .notices.info p::after {
    content: 'Info';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.warning p {
    border-top: 30px solid #E06F6C;
    background: $dark;
  }

  .notices.warning p::after {
    content: 'Warning';
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }


  blockquote {
    font-size: 20px !important;
    color: $text-color;
    padding: 20px 40px;
    border-left: 2px solid $primary-color;
    margin: 40px 0;
    font-weight: bold;
    background: $dark;

    p {
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}



// code-tab
.code-tabs {
  border: 1px solid $border-color;
  overflow: hidden;
  margin-bottom: 20px;

  .nav-tabs {
    margin-bottom: 0;

    .nav-item {
      padding-left: 0;
      border-right: 1px solid $border-color;

      .nav-link {
        text-decoration: none;
        font-weight: 500;
        border: 0;
      }

      &::before {
        display: none;
      }

      &.active {
        background: $primary-color;

        .nav-link {
          color: $white;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 15px;
  }
}