.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
  }
}

.nav-lang{
  margin: 15px 0 15px 10px;
  padding: 0 !important;
  @include desktop {
    margin: 10px auto;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $text-color;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px 15px;
  @include desktop {
    padding: 10px 0;
  }
}