{{ define "main" }}

<section>
	<div class="container">
		<div class="row">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-2">
					{{ if .Params.Image }}
					<img class="rounded-lg img-fluid mb-4" src="{{.Params.Image | absURL }}">
					{{else if .Params.Email}}
					<img class="rounded-lg img-fluid mb-4" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
					{{ end }}
				</div>
				<div class="col-lg-8">
					<p>{{ .Content | markdownify }}</p>
					<ul class="list-inline social-icons">
						{{ range .Params.Social }}
						<li class="list-inline-item"><a href="{{ .link | safeURL}}"><i class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}