body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: inherit;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-black {
  background: $black !important;
}

.bg-dark {
  background: $dark !important;
}

.text-primary {
  color: $primary-color !important;
}

.zindex-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.border-default {
  border-color: $border-color !important;
}

.rounded-lg{
  border-radius: 20px !important;
}

p:empty{
  display: none;
}

.nav-tabs{
  border-color: $border-color;
}

.collapse-wrapper>a{
  text-decoration: none !important;
}

// particles
#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $body-color;
  z-index: -1;
}