/*  typography */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  color: $text-color-light;
}

p,
.paragraph {
  font-weight: 400;
  color: $text-color-light;
  font-size: 18px;
  line-height: 1.7;
  font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-family: $primary-font;
  font-weight: 700;
  line-height: 1.4;
}

h1,
.h1 {
  font-size: 56px;
  @include desktop {
    font-size: 48px;
  }
  @include tablet {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 48px;
  @include desktop {
    font-size: 40px;
  }
  @include tablet {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-size: 36px;
  @include desktop {
    font-size: 32px;
  }
  @include tablet {
    font-size: 28px;
  }
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}


.display-1 {
  @include desktop {
    font-size: 4.5rem;
  }
  @include tablet {
    font-size: 3.5rem;
  }
}