// Color Variables
$primary-color: #275bff;
$text-color: #fff;
$text-color-light: #999;
$body-color: #000;
$border-color: #555;
$dark: #0F0F0F;
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Open Sans', sans-serif;
$icon-font: 'themify';
